*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
body::-webkit-scrollbar{
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
}
nav .nav-head img{
    display: none;
}
nav .nav-center ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10rem;
    font-size: 1.1rem;
}
nav .nav-center ul a{
    text-decoration: none;
    color: black;
}
nav .nav-center ul li{
    transition: transform 0.5s ease-in-out;
}
nav .nav-center ul li:hover{
    transform: translateY(-2px);
}
nav .nav-center li .active{
    font-weight: bolder;
    transform: scaleY(-2px);
}
nav .nav-center .book a{
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
nav .nav-center .book a:hover{
    background-color: #333;
    color: white;
}
@media (max-width:530px) and (min-width:200px){
    nav .nav-head img{
       display: block; 
       margin-top: 2rem;
    }
    nav .nav-head h1{
        display: none;
    }
    footer .row .col-1 h3{
        font-size: 1.2rem;
    }
    footer .row .col-1 .social-link{
        font-size: 1rem;
    }
    footer .row .col-2 h4,p{
        font-size: 1rem;
    }
    footer .last-line p,i{
        font-size: 0.5rem;
    }
    .log-box{
        width: 60%;
    }
}
@media (max-width:390px){
    footer{
        top: 95vh;
    }
}
container .myself{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
container .myself h1{
    font-size: 1.5rem;
}
container .myself-details p{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}
/* container .typing .text{
    position: relative;
    font-size: 40px;
    font-weight: bold;
}
container .typing .text.first-text{
    color: black;
}
container .typing .text.sec-text{
    margin-left: 1rem;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    animation: animate 2s steps(12) infinite;
}
@keyframes animate{
    40%,60%{            
        left: 100%;
    }                  
    100%{
        left: 0%;
    }
} */
container .bg-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
container .bg-box h1{
    text-transform: lowercase;
}
container .bg-box img{
    width: 25vw;
    height: 40vh;
    object-fit: cover;
}
container .p-box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    padding: 2rem 0;
    gap: 2rem;
}
container .p-box img{
    width: 15vw;
}
container .project-link a{
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
container .project-link a:hover{
    color: #c5dfdf;
    transition: all 0.5s ease-in-out;
    cursor: alias;
}
footer{
    padding: 0.5rem 3rem;
}
footer .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col-1 h3{
    font-size: 2rem;
}
footer .col-1 .social-link{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
footer .col-1 .social-link a{
    padding-right: 1rem;
    color: black;
}
footer .col-1 .social-link .fa-linkedin:hover{
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}
footer .col-1 .social-link .fa-square-github:hover{
    color: #333;
    transition: all 0.5s ease-in-out;
}
footer .col-1 .social-link .fa-instagram:hover{
    color: #962fbf;
    transition: all 0.5s ease-in-out;
}
footer .col-2 h4{
    font-size: 1.5rem;
}
footer .col-2 p{
    float: right;
    margin-top: 0.5rem;
}
footer .col-2 a{
    text-decoration: none;
    color: black;
}
footer .col-2 p .fa-linkedin-in:hover{
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}
footer .last-line{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
}
footer .last-line a{
    font-size: 1rem;
    color: black;
    cursor: alias;
}
