*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
body::-webkit-scrollbar{
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
}
nav .nav-head img{
    display: none;
}
nav .nav-center ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10rem;
    font-size: 1.1rem;
}
nav .nav-center ul a{
    text-decoration: none;
    color: black;
}
nav .nav-center ul li{
    transition: transform 0.5s ease-in-out;
}
nav .nav-center ul li:hover{
    transform: translateY(-2px);
}
nav .nav-center li .active{
    font-weight: bolder;
    transform: scaleY(-2px);
}
nav .nav-center .book a{
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
nav .nav-center .book a:hover{
    background-color: #333;
    color: white;
}
@media (max-width:530px) and (min-width:370px){
    nav .nav-head img{
       display: block; 
       margin-top: 2rem;
    }
    nav .nav-head h1{
        display: none;
    }
    footer .row .col-1 h3{
        font-size: 1.2rem;
    }
    footer .row .col-1 .social-link{
        font-size: 1rem;
    }
    footer .row .col-2 h4,p{
        font-size: 1rem;
    }
    footer .last-line p,i{
        font-size: 0.5rem;
    }
    .log-box{
        width: 60%;
    }
    container .small-details{
        text-align: center;
    }
    container .small-details h1,p{
        font-size: 0.9rem;
    }
    container .nav-search{
        display: block;
        margin: auto;
        text-align: center;
    }
    footer{
        position: absolute;
    }
}
@media (max-width:390px){
    footer{
        top: 95vh;
    }
}
container .nav-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* background-color: rebeccapurple; */
}
container .nav-search input{
    padding: 1rem 4rem;
    text-align: center;
}
container .nav-search button{
    border: none;
    padding: 1rem 2rem;
    box-shadow: 2px 5px 5px lightgrey;
}
container .nav-search button:hover{
    transition: all 0.5s ease-in-out;
    background-color: navy;
    color: white;
    border-radius: 3rem;
}
container .small-card{
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 1rem 5rem;
    padding: 1rem 1rem;
    /* background-color: red; */
}
container .small-card .img img{
    width: 25vw;
    height: 20vh;
    object-fit: cover;
}
container .small-card .small-details h1,p{
    margin-bottom: 1rem;
}
container .small-card .small-details a{
    text-decoration: none;
    color: black;
    box-shadow: 2px 5px 5px lightgrey;
    padding: 0.5rem 1rem;
    /* background-color: rebeccapurple; */
}
container .small-card .small-details a:hover{
    color: white;
    background-color: black;
    transition: all 0.2s ease-in-out;
    cursor: alias;
}
container .small-card .small-details button{
    background-color: white;
    border: none;
    padding: 0.5rem 2rem;
    box-shadow: 2px 5px 5px lightgrey;
}
container .small-card .small-details button:hover{
    background-color: #0077b5;
    color: white;
}


footer{
    padding: 0.5rem 3rem;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col-1 h3{
    font-size: 2rem;
}
footer .col-1 .social-link{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
footer .col-1 .social-link a{
    padding-right: 1rem;
    color: black;
}
footer .col-1 .social-link .fa-linkedin:hover{
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}
footer .col-1 .social-link .fa-square-github:hover{
    color: #333;
    transition: all 0.5s ease-in-out;
}
footer .col-1 .social-link .fa-instagram:hover{
    color: #962fbf;
    transition: all 0.5s ease-in-out;
}
footer .col-2 h4{
    font-size: 1.5rem;
}
footer .col-2 p{
    float: right;
    margin-top: 0.5rem;
}
footer .col-2 a{
    text-decoration: none;
    color: black;
}
footer .col-2 p .fa-linkedin-in:hover{
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}
footer .last-line{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
}
footer .last-line a{
    font-size: 1rem;
    color: black;
    cursor: alias;
}
