*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
body::-webkit-scrollbar{
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
}
nav .nav-head img{
    display: none;
}
nav .nav-center ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10rem;
    font-size: 1.1rem;
}
nav .nav-center ul a{
    text-decoration: none;
    color: black;
}
nav .nav-center ul li{
    transition: transform 0.5s ease-in-out;
}
nav .nav-center ul li:hover{
    transform: translateY(-2px);
}
nav .nav-center li .active{
    font-weight: bolder;
    transform: scaleY(-2px);
}
nav .nav-center .book a{
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
nav .nav-center .book a:hover{
    background-color: #333;
    color: white;
}
@media (max-width:530px) and (min-width:370px){
    nav .nav-head img{
       display: block; 
       margin-top: 2rem;
    }
    nav .nav-head h1{
        display: none;
    }
    footer .row .col-1 h3{
        font-size: 1.2rem;
    }
    footer .row .col-1 .social-link{
        font-size: 1rem;
    }
    footer .row .col-2 h4,p{
        font-size: 1rem;
    }
    footer .last-line p,i{
        font-size: 0.5rem;
    }
    .log-box{
        width: 60%;
    }
}
@media (max-width:390px){
    footer{
        top: 95vh;
    }
}

container .book-card{
    position: relative;
    background-color: red;
    margin: 5rem 5rem;
}
container .carousel{
    padding: 1rem 5rem;
}
container .carousel-img-list{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
}
container .carousel-img-list::-webkit-scrollbar{
    display: none;
}
container .carousel-img-list .image-item{
    width: 400px;
    height: 500px;
    object-fit: cover;
}
/* container .book-card .book-img img{
    mask-image: linear-gradient(0deg,black,transparent);
    display: flex;
    margin: auto;
    width: 91vw;
    object-fit: cover;
} */
container .book-card .book-details{
    background-color: rebeccapurple;
    padding: 1rem 5rem;
}
container .book-card .book-details ul{
    list-style: none;
}

footer{
    padding: 0.5rem 3rem;
}
footer .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col-1 h3{
    font-size: 2rem;
}
footer .col-1 .social-link{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
footer .col-1 .social-link a{
    padding-right: 1rem;
    color: black;
}
footer .col-1 .social-link .fa-linkedin:hover{
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}
footer .col-1 .social-link .fa-square-github:hover{
    color: #333;
    transition: all 0.5s ease-in-out;
}
footer .col-1 .social-link .fa-instagram:hover{
    color: #962fbf;
    transition: all 0.5s ease-in-out;
}
footer .col-2 h4{
    font-size: 1.5rem;
}
footer .col-2 p{
    float: right;
    margin-top: 0.5rem;
}
footer .col-2 a{
    text-decoration: none;
    color: black;
}
footer .col-2 p .fa-linkedin-in:hover{
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}
footer .last-line{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
}
footer .last-line a{
    font-size: 1rem;
    color: black;
    cursor: alias;
}
