<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Myself</title>
    <link href="{%static 'img/passport.svg'%}" rel="icon" type="img/icons"> 
    <!--Css link-->
    <link href="{%static 'css/about.css'%}" rel="stylesheet" type="text/css">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Long+Cang&family=Merriweather:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Raleway&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <!--Fontawesome icon-->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>
<body>

   <nav>
    <div class="nav-head">
        <img src="{%static 'img/T&T.png'%}" alt="logo" style="width: 4rem;"> 
        <h1 style="font-family: 'Playfair Display',sans-serif;">Travel & Tourism</h1>
    </div>
    <div class="nav-center">
        <ul>
            <li><a href="{%url 'main'%}">Home</a></li>
            <li><a href="{%url 'out_page'%}"><i class="fa-regular fa-user" style="margin-right: 0.5rem;"></i>{{request.user.first_name|capfirst}}</a></li>
            <li><a href="" class="active">About Me</a></li>
            <li class="book"><a href="{%url 'travel-page'%}">Book</a></li>
        </ul>
    </div>
   </nav>

    <container>

    <div class="bg-box">
        <div class="g-1">
            <h1>photographer</h1>
            <p>A photographer serves as a teacher, <br>and your RAW photographs are <br>what determine your grade.</p>
        </div>

        <img src="{%static 'img/e_1.jpeg'%}">

        <div class="g-2">
            <h1><span>&#10096;</span> programmer <span>&#10097;</span></h1>
            <p>"HTML teaches me, my brain <br>uses CSS and JS/Py for the functionality."</p>
        </div>
    </div>

    <hr style=" display: block; margin: auto; width: 50%; margin-top: 2rem;">

    <div class="myself">
        <h1>Hey! I'm Edwin James John</h1>
    </div>
    <div class="myself-details">
        <p>I am an Aspirant of Full Stack Web developer from Itvedant and <br>i have my B.E. degree from St.John College of Engineering and Management, Palghar which is Information Technology. <br>I also have a fresher experience in HTML,CSS,Django Framework,Python,Javascript.</p>
    </div>

    <hr style=" display: block; margin: auto; width: 50%; margin-top: 2rem;">
    
    <h1 style="text-align: center; margin-top: 1rem;">Projects</h1>

    <div class="p-box">
        <img src="{%static 'img/card/1.jpg'%}" alt="p-1">
        <div class="right">
            <h2>Facebook</h2>
            <p style="padding-top: 1rem;">This is a duplicate of facebook using HTML, CSS and JS.</p>
            <div class="project-link" style="padding-top: 1rem;">
                <a href="https://github.com/EdwinJ-19/mediabook.git" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://edwinj-19.github.io/mediabook/" target="_blank"><i class="fa-solid fa-laptop-code"></i></a>
            </div>
        </div>
    </div>

    <div class="p-box">
        <img src="{%static 'img/card/2.png'%}" alt="p-2">
        <div class="right">
            <h2>Portfolio</h2>
            <p style="padding-top: 1rem;">My Own Portfolio using HTML,CSS,JS(will use in future).</p>
            <div class="project-link" style="padding-top: 1rem;">
                <a href="https://github.com/EdwinJ-19/Portfolio.git" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://edwinj-19.github.io/Portfolio/" target="_blank"><i class="fa-solid fa-laptop-code"></i></a>
            </div>
        </div>
    </div>

    <div class="p-box">
        <img src="{%static 'img/card/3.png'%}" alt="p-3">
        <div class="right">
            <h2>Payment Gateway</h2>
            <p style="padding-top: 1rem;">DonateWebpage using HTML,CSS,PaymentAPI(RazorPay).</p>
            <div class="project-link" style="padding-top: 1rem;">
                <a href="https://github.com/EdwinJ-19/PaymentGatewatyProject.github.io.git" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://edwinj-19.github.io/PaymentGatewatyProject.github.io/" target="_blank"><i class="fa-solid fa-laptop-code"></i></a>
            </div>
        </div>
    </div>

    </container>

    <footer>
        <div class="row">
            <div class="col-1">
                <h3>Follow Me</h3>
                <div class="social-link">
                    <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/EdwinJ-19"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://www.instagram.com/photographer.certified_19/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-2">
                <h4>Edwin James John</h4>
                <p>Message me <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></p>
            </div>
        </div>
        <div class="last-line">
            © 2024 Edwin James John | Designed by <a href="https://github.com/EdwinJ-19" style="margin-left: 0.2rem;" target="_blank"><i class="fa-brands fa-github"></i></a>.
        </div>
       </footer>
    
    </body>
    </html>