<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{%static 'img/logo.svg'%}" rel="icon" type="img/icons"> 
    <!--Css link-->
    <link href="{%static 'css/logout.css'%}" rel="stylesheet" type="text/css">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Merriweather:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Raleway&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <!--Fontawesome icon-->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!--JS link-->
    <!-- <script src="{%static 'js/script.js'%}"></script> -->
</head>
<body>

    <nav>
        <div class="nav-head">
            <img src="{%static 'img/T&T.png'%}" alt="logo" style="width: 4rem;"> 
            <h1 style="font-family: 'Playfair Display',sans-serif;">Travel & Tourism</h1>
        </div>
    </nav>

    <container>
        <div class="logout-box">
            <!-- <div class="box-1">
                <p style="margin-bottom: 5rem;">You have Successfully logout from the page!</p>
            </div> -->
            <div class="box-2">
                <p>Please Redirect to this page -> <a href="{%url 'login'%}">Login</a></p>
            </div>
        </div>
    </container>

    <footer>
        <div class="row">
            <div class="col-1">
                <h3>Follow Me</h3>
                <div class="social-link">
                    <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/EdwinJ-19"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://www.instagram.com/photographer.certified_19/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-2">
                <h4>Edwin James John</h4>
                <p>Message me <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></p>
            </div>
        </div>
        <div class="last-line">
            <p>© 2024 Edwin James John | Designed by <a href="https://github.com/EdwinJ-19" style="margin-left: 0.2rem;" target="_blank"><i class="fa-brands fa-github" style="font-size: 0.8rem;"></i></a>.</p>
        </div>
    </footer>
    
</body>
</html>