<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="{%static 'img/logo.svg'%}" rel="icon" type="img/icons"> 
    <!--Css link-->
    <link href="{%static 'css/register.css'%}" rel="stylesheet" type="text/css">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Merriweather:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Raleway&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <!--Fontawesome icon-->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!--JS link-->
    <!-- <script src="{%static 'js/script.js'%}"></script> -->
</head>
<body>

    <nav>
        <div class="nav-head">
            <img src="{%static 'img/T&T.png'%}" alt="logo" style="width: 4rem;"> 
            <h1 style="font-family: 'Playfair Display',sans-serif;">Travel & Tourism</h1>
        </div>
    </nav>

    <!-- <div class="error-box">
        <strong>Invalid Data</strong>
        {{errmsg}}
    </div> -->
    <form method="POST">
    <div class="log-box">
        <div class="log-head">
            <h1>Register</h1>
        </div>
        <div class="log-input">
            
                {% csrf_token %}
                <!-- <div class="form-field">
                    {{form.f_name.label}}
                    {{form.f_name}}
                </div>
                <div class="form-field">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                <div class="form-field">
                    {{form.username.label}}
                    {{form.username}}
                </div>
                <div class="form-field">
                    {{form.password1.label}}
                    {{form.password1}}
                </div>
                <div class="form-field">
                    {{form.password2.label}}
                    {{form.password2}}
                </div> -->

                {% if messages %}
                <ul class="messages" style="background-color: lightblue; border: 1px solid blue; border-radius: 1rem;padding: 1rem 0; margin-bottom: 1rem;">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label>First Name</label> <br>
                <input type="text" name="first_name" required> <br>
                <label>Email</label> <br>
                <input type="text" name="e_mail" required> <br>
                <label>Username</label> <br>
                <input type="text" name="username" required> <br>
                <label>Password</label><br>
                <input type="password" name="password" required><br>
        </div>
        <p>Already have an Account?<a href="{%url 'login'%}" class="forgot">Login</a></p>
        <div class="log-btn">
            <!-- <a href="#">Register</a> -->
            <button type="submit">Register</button>
        </div>
    </div>
    </form>


    <footer>
        <div class="row">
            <div class="col-1">
                <h3>Follow Me</h3>
                <div class="social-link">
                    <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/EdwinJ-19"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://www.instagram.com/photographer.certified_19/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-2">
                <h4>Edwin James John</h4>
                <p>Message me <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></p>
            </div>
        </div>
        <div class="last-line">
            © 2024 Edwin James John | Designed by <a href="https://github.com/EdwinJ-19" style="margin-left: 0.2rem;" target="_blank"><i class="fa-brands fa-github"></i></a>.
        </div>
    </footer>
    
</body>
</html>