<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link href="{%static 'img/hotel.svg'%}" rel="icon" type="img/icons"> 
    <!--Css link-->
    <link href="{%static 'css/travel.css'%}" rel="stylesheet" type="text/css">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Long+Cang&family=Merriweather:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Raleway&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <!--Fontawesome icon-->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>
<body>
   <nav>

    <div class="nav-head">
        <img src="{%static 'img/T&T.png'%}" alt="logo" style="width: 4rem;"> 
        <h1 style="font-family: 'Playfair Display',sans-serif;">Travel & Tourism</h1>
    </div>
    <div class="nav-center">
        <ul>
            <li><a href="{%url 'main'%}">Home</a></li>
            <li><a href="{%url 'out_page'%}"><i class="fa-regular fa-user" style="margin-right: 0.5rem;"></i>{{request.user.first_name|capfirst}}</a></li>
            <li><a href="{%url 'about'%}">About Me</a></li>
            <li><a href="" class="active">Book</a></li>
        </ul>
    </div>
   </nav>

    <container>
    <div class="book-card">
        <div class="carousel">
            <div class="carousel-img-list">
                {% for d in data %}
                <img src="{{d.carousel}}" alt="1" class="image-item">
                <img src="{{d.carousel}}" alt="2" class="image-item">
                <img src="{{d.carousel}}" alt="3" class="image-item">
                <img src="{{d.carousel}}" alt="4" class="image-item">
                <img src="{{d.carousel}}" alt="5" class="image-item">
                <img src="{{d.carousel}}" alt="6" class="image-item">
                <img src="{{d.carousel}}" alt="7" class="image-item">
            </div>
        </div>
        <div class="book-details">
            <h1 style="margin-bottom: 1rem;">{{d.head}}</h1>
            <p class="travel-details" style="margin-bottom: 1rem; font-weight: bolder;">{{d.sentence}}</p>
            <h1 style="margin-bottom: 1rem;">Details</h1>
            <ul>
                <li>{{d.destination}}</li><br>
                <li>{{d.nearby}}</li><br>
                <li>{{d.attraction}}</li><br>
                <li>{{d.transportation}}</li><br>
                <li>Rs. {{d.price}}</li>
            </ul>
            {% endfor %}
            <!-- <button type="submit" style="margin:1rem 0;">Book</button> -->
            <div class="b-d-link">
                <a href="{%url 'form'%}">Book Now!</a>
            </div>
        </div>
    </div>

    </container>

    <footer>
        <div class="row">
            <div class="col-1">
                <h3>Follow Me</h3>
                <div class="social-link">
                    <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/EdwinJ-19"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://www.instagram.com/photographer.certified_19/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-2">
                <h4>Edwin James John</h4>
                <p>Message me <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></p>
            </div>
        </div>
        <div class="last-line">
            © 2024 Edwin James John | Designed by <a href="https://github.com/EdwinJ-19" style="margin-left: 0.2rem;" target="_blank"><i class="fa-brands fa-github"></i></a>.
        </div>
       </footer>
    
    </body>
    </html>